@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: transparent !important;
}

html, body, #root {
  background-color: transparent !important;
  background: transparent !important;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}